<div class="main">
  <h2 mat-dialog-title>Sign Up</h2>
  <mat-dialog-content>
    <form [formGroup]="formGroup" (ngSubmit)="login()" (ngReset)="reset()" class="ex-form">
      <div>
        <ng-container *ngFor="let property of schema.properties;let i=index;">
          <!--Form field for text input  -->
          <div class="form-group" *ngIf="property.dataType=='String'">
            <app-text-field [property]="property"
                            (addControl)= "addControl($event)" >
            </app-text-field>
          </div>

          <!--Form field for number input  -->
          <div class="form-group" *ngIf="property.dataType=='Number'" style="margin-bottom:0;">

            <app-number-field [property]="property"
                              (addControl)= "addControl($event)" >
            </app-number-field>
          </div>

          <div class="form-group" *ngIf="property.dataType=='Email'" style="margin-bottom:0;">

            <app-email-field  [property]="property"
                              (addControl)= "addControl($event)" >
            </app-email-field>
          </div>

          <div class="form-group" *ngIf="property.dataType=='Password'" style="margin-bottom:0;">

            <app-password-field  [property]="property"
                                 (addControl)= "addControl($event)" >
            </app-password-field>
          </div>

        </ng-container>
      </div>

    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="signup()" [disabled]="!formGroup.valid" color="primary">Sign Up</button>
    <button mat-button (click)="cancel()" color="primary">Cancel</button>

  </mat-dialog-actions>

</div>
