<!--<div [formGroup]="formGroup">-->
  <!--<mat-form-field appearance="outline">-->
    <!--<mat-label>{{property.alias}}-->
      <!--<span *ngIf = "property.required" class="asterik">*</span>-->
    <!--</mat-label>-->

    <!--&lt;!&ndash;<mat-select formControlName={{property.name}} multiple={{property.array}}>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-option *ngIf="!property.array">Select</mat-option>&ndash;&gt;-->
      <!--&lt;!&ndash;<mat-option *ngFor="let opt of property.values" [value]="opt">&ndash;&gt;-->
        <!--&lt;!&ndash;{{opt}}&ndash;&gt;-->
      <!--&lt;!&ndash;</mat-option>&ndash;&gt;-->
    <!--&lt;!&ndash;</mat-select>&ndash;&gt;-->

    <!--<mat-error *ngIf="formGroup.controls[property.name].invalid">{{getError()}}</mat-error>-->

  <!--</mat-form-field>-->

<!--</div>-->
