



<div class="ex-form">

  <h5>{{uiSchema.name}}</h5>

  <mat-tab-group animationDuration="0ms" #tabGroup>


    <ng-container *ngFor="let stepControl of formGroup.controls | keyvalue;let i = index;">

      <!--<mat-step [stepControl]="stepControl.value" [completed]="false">-->
        <mat-tab [label] = "uiSchema.steps[i].label">
          <form [formGroup]="stepControl.value" >
            <div class="row">
              <ng-container *ngFor="let property of uiSchema.steps[i].fields;">
                <ng-template matStepLabel  matStepperIcon="number">{{uiSchema.steps[i].label}}</ng-template>

                <!--Form field for text input  -->

                <div class="form-group col-sm-6" *ngIf="property && property.dataType=='String'">
                  <app-text-field [property]="property"
                                  (addControl)= "addControl($event)" >
                  </app-text-field>
                </div>

                <!--Form field for email input  -->

                <div class="form-group col-sm-6" *ngIf="property && property.dataType=='Email'">

                  <app-email-field  [property]="property"
                                    (addControl)= "addControl($event)" >
                  </app-email-field>
                </div>

                <!--Form field for password input  -->

                <div class="form-group col-sm-6" *ngIf="property && property.dataType=='Password'">

                  <app-password-field  [property]="property"
                                       (addControl)= "addControl($event)" >
                  </app-password-field>
                </div>

                <!--Form field for number input  -->
                <div class="form-group col-sm-6" *ngIf="property && property.dataType=='Number'" style="margin-bottom:0;">

                  <app-number-field [property]="property"
                                    (addControl)= "addControl($event)" >
                  </app-number-field>

                </div>

                <!--Form field for enumeration-->

                <div class="form-group col-sm-6" *ngIf="property && property.dataType=='Enumeration'"
                     style="margin-bottom:0px;">
                  <app-dropdown [property]="property"
                                (addControl)= "addControl($event)" >
                  </app-dropdown>

                </div>

                <!--Form field for Measure Datatype-->

                <div class="form-group col-sm-6"
                     *ngIf="property && property.dataType=='Measure'"
                     style="margin-bottom:0;padding-right: 0;">



                  <app-measure
                    [property]="property"
                    (addControl)= "addControl($event)" >
                  </app-measure>

                </div>
              </ng-container>

            </div>

            <div>
              <p style="font-size:13px;"><span class="asterik" style="font-size:16px;">* </span>field are mandatory</p>
            </div>
            <div class="btn btn-toolbar">
              <button mat-button *ngIf="i > 0"
                      (click)="tabGroup.selectedIndex = i-1">Back</button>
              <button
                mat-button
                *ngIf="i < uiSchema.totalSteps-1"
                [disabled]="!stepControl.value.valid"
                (click)="tabGroup.selectedIndex = i+1">
                Next
              </button>

              <button
                mat-raised-button
                type="button"
                color="primary"
                *ngIf= "i === uiSchema.totalSteps-1"
                (click)="formValue()"
                [disabled]="!formGroup.valid">
                Submit
              </button>
            </div>

          </form>
        </mat-tab>



      <!--</mat-step>-->


    </ng-container>
  </mat-tab-group>

</div>

