<!--<div *ngIf = "schema.steps && schema.steps !== null" class="ex-form">-->
  <!--<div>  <h5>{{schema.name}}</h5>-->
  <!--</div>-->
  <!--<mat-horizontal-stepper labelPosition="bottom" #stepper>-->


    <!--<ng-container *ngFor="let stepControl of formGroup.controls | keyvalue;let i =index;">-->

        <!--<mat-step [stepControl]="stepControl.value" [completed]="false">-->
          <!--<form [formGroup]="stepControl.value">-->
            <!--<div class="row">-->
              <!--<ng-container *ngFor="let property of schema.steps[i].properties;">-->
                <!--<ng-template matStepLabel  matStepperIcon="number">{{schema.steps[i].label}}</ng-template>-->

                <!--&lt;!&ndash;Form field for text input  &ndash;&gt;-->

                <!--<div class="form-group col-sm-6" *ngIf="property.dataType=='String'">-->
                  <!--<app-text-field [property]="property"-->
                                  <!--[formGroup]="stepControl.value"></app-text-field>-->
                <!--</div>-->

                <!--&lt;!&ndash;Form field for number input  &ndash;&gt;-->
                <!--<div class="form-group col-sm-6" *ngIf="property.dataType=='Number'" style="margin-bottom:0;">-->

                  <!--<app-number-field [formFieldControl]="stepControl.value.controls[property.name]"-->
                                    <!--[property]="property"-->
                                    <!--[formGroup]="stepControl.value"></app-number-field>-->
                <!--</div>-->

                <!--&lt;!&ndash;Form field for enumeration&ndash;&gt;-->

                <!--<div class="form-group col-sm-6" *ngIf="property.dataType=='Enumeration'"-->
                     <!--style="margin-bottom:0px;">-->
                  <!--<app-dropdown-->
                    <!--[formFieldControl]="stepControl.value.controls[property.name]"-->
                    <!--[property]="property"-->
                    <!--[formGroup]="stepControl.value">-->
                  <!--</app-dropdown>-->

                <!--</div>-->

                <!--&lt;!&ndash;Form field for Measure Datatype&ndash;&gt;-->

                <!--<div class="form-group col-sm-6"-->
                     <!--*ngIf="property.dataType=='Measure'"-->
                     <!--style="margin-bottom:0;padding-right: 0;"-->
                     <!--[formGroup]="stepControl.value.controls[property.name]">-->


                  <!--<app-measure-->
                    <!--[formFieldControl]="stepControl.value.controls[property.name]"-->
                    <!--[property]="property"-->
                    <!--[formGroup]="stepControl.value.controls[property.name]">-->

                  <!--</app-measure>-->
                <!--</div>-->
              <!--</ng-container>-->

            <!--</div>-->

            <!--<div>-->
              <!--<p style="font-size:13px;"><span class="asterik" style="font-size:16px;">* </span>field are mandatory</p>-->
            <!--</div>-->
            <!--<div class="btn btn-toolbar">-->

              <!--&lt;!&ndash;<button type=controls="btn btn-primary" [disabled]="!this.stepFormGroup.value.valid">Submit</button>&ndash;&gt;-->
              <!--&lt;!&ndash;&nbsp; &nbsp;&ndash;&gt;-->

              <!--&lt;!&ndash;<button type="reset" class="btn btn-primary">Reset</button>&ndash;&gt;-->

              <!--<button mat-button matStepperPrevious *ngIf="i > 0">Back</button>-->
              <!--<button mat-button matStepperNext *ngIf="i < numberOfSteps()" [disabled]="!this.stepFormGroup.value.valid">Next</button>-->

              <!--<button mat-raised-button-->
                      <!--type="button"-->
                      <!--color="primary"-->
                      <!--*ngIf= "i === numberOfSteps()"-->
                      <!--(click)="formValue()"-->
                      <!--[disabled]="!this.formGroup.valid">-->
                <!--Submit</button>-->
            <!--</div>-->

          <!--</form>-->

        <!--</mat-step>-->


    <!--</ng-container>-->
  <!--</mat-horizontal-stepper>-->

<!--</div>-->


<!--<div *ngIf = "!schema.steps">-->
  <!--<form [formGroup]="formGroup" class="ex-form">-->
    <!--<h5>{{schema.name}}</h5>-->
    <!--<div class="row">-->
      <!--<ng-container *ngFor="let property of schema.properties;let i=index;">-->
        <!--&lt;!&ndash;Form field for text input  &ndash;&gt;-->
        <!--<div class="form-group col-sm-6" *ngIf="property.dataType=='String'">-->
          <!--<app-text-field [property]="property"-->
                          <!--[formGroup]="formGroup"></app-text-field>-->
        <!--</div>-->

        <!--&lt;!&ndash;Form field for number input  &ndash;&gt;-->
        <!--<div class="form-group col-sm-6" *ngIf="property.dataType=='Number'" style="margin-bottom:0;">-->

          <!--<app-number-field [formFieldControl]="formGroup.controls[property.name]"-->
                            <!--[property]="property"-->
                            <!--[formGroup]="formGroup"></app-number-field>-->
        <!--</div>-->

        <!--&lt;!&ndash;Form field for enumeration&ndash;&gt;-->

        <!--<div class="form-group col-sm-6" *ngIf="property.dataType=='Enumeration'"-->
             <!--style="margin-bottom:0px;">-->
          <!--<app-dropdown-->
            <!--[formFieldControl]="formGroup.controls[property.name]"-->
            <!--[property]="property"-->
            <!--[formGroup]="formGroup">-->
          <!--</app-dropdown>-->

        <!--</div>-->

        <!--&lt;!&ndash;Form field for Measure Datatype&ndash;&gt;-->

        <!--<div class="form-group col-sm-6"-->
             <!--*ngIf="property.dataType=='Measure'"-->
             <!--style="margin-bottom:0;padding-right: 0;"-->
             <!--[formGroup]="formGroup.controls[property.name]">-->


          <!--<app-measure-->
            <!--[formFieldControl]="formGroup.controls[property.name]"-->
            <!--[property]="property"-->
            <!--[formGroup]="formGroup.controls[property.name]">-->
          <!--</app-measure>-->

        <!--</div>-->

      <!--</ng-container>-->
    <!--</div>-->

    <!--<div>-->
      <!--<p style="font-size:13px;"><span class="asterik" style="font-size:16px;">* </span>field are mandatory</p>-->
    <!--</div>-->
    <!--<div class="btn btn-toolbar">-->


      <!--<button mat-raised-button-->
              <!--type="button"-->
              <!--color="primary"-->
              <!--(click)="formValue()"-->
              <!--[disabled]="!this.formGroup.valid">-->
        <!--Submit</button>-->
      <!--&nbsp; &nbsp;-->

      <!--<button mat-raised-button type="button" color="warn" (click)="reset()">Reset</button>-->


    <!--</div>-->

  <!--</form>-->

<!--</div>-->
