<!--<nav class="navbar fixed-top navbar-dark bg-dark"-->
     <!--style="color: white;">-->

  <!--<a class="navbar-brand">Angular Form</a>-->

<!--</nav>-->
<app-tool-bar></app-tool-bar>

<div style="margin-top: 30px;">

  <router-outlet></router-outlet>
  <div id="loaderModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="loader-dialog modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content" style="background-color: unset; border: unset;">
        <div class="modal-body">
          <app-loading-spinner></app-loading-spinner>
        </div>
      </div>
    </div>
  </div>
  </div>



<!--<app-loading-spinner *ngIf="commonService.isSpinnerVisible"></app-loading-spinner>-->

