<div class="jumbotron">

      <form [formGroup]="formGroup" (ngSubmit)="login()" class="form">


              <h5>Create Protocol</h5>

              <ng-container *ngFor="let property of schema;let i=index;">

                    <!--Form field for text input  -->
                     <div class="form-group" *ngIf="property.dataType=='String'">

                         <mat-form-field hintLabel="Max {{property.maxLength}} character"
                                         appearance="outline">

                                <mat-label>{{property.alias}}
                                  <span *ngIf = "property.required" class="asterik">*</span>
                                </mat-label>

                                <input matInput #input
                                       formControlName={{property.name}}
                                       maxLength={{property.maxLength}}
                                       minLength="{{property.minLength}}"
                                       placeholder={{property.alias}} type="text">

                                <mat-hint align="end">{{input.value.length}}/{{property.maxLength}}</mat-hint>

                                <!-- <mat-error *ngIf="property.name + '.invalid'">{{getError(property)}}</mat-error> -->
                                <mat-error *ngIf="formGroup.controls[property.name].invalid">{{getError(property)}}</mat-error>

                         </mat-form-field>

                     </div>

                    <!--Form field for number input  -->

                    <div class="form-group" *ngIf="property.dataType=='Number'" style="margin-bottom:0px;">

                          <mat-form-field appearance="outline">

                                <mat-label>{{property.alias}}
                                    <span *ngIf = "property.required" class="asterik">*</span>
                                </mat-label>

                                <input matInput min={{property.min}}
                                       max={{property.max}}
                                       formControlName={{property.name}}
                                       type={{property.dataType|lowercase}}
                                       placeholder={{property.alias}}>

                                <mat-error *ngIf="formGroup.controls[property.name].invalid">{{getError(property)}}</mat-error>

                          </mat-form-field>

                    </div>

                    <!--Form field for enumeration with multiselect -->

                    <div class="form-group" *ngIf="property.dataType=='Enumeration'&& property.array==true" style="margin-bottom:0px;">

                          <mat-form-field appearance="outline">

                                 <mat-label>{{property.alias}}
                                        <span *ngIf = "property.required" class="asterik">*</span>
                                 </mat-label>

                                 <mat-select formControlName={{property.name}} multiple>
                                        <mat-option *ngFor="let opt of property.values"
                                                    [value]="opt">{{opt}}
                                        </mat-option>
                                 </mat-select>

                                 <mat-error *ngIf="formGroup.controls[property.name].invalid">{{getError(property)}}</mat-error>

                          </mat-form-field>

                    </div>

                    <!--Form field for text enumeration with single selection  -->

                    <div class="form-group" *ngIf="property.dataType=='Enumeration'&& property.array==false" style="margin-bottom:0px;">

                                 <mat-form-field appearance="outline">

                                        <mat-label>{{property.alias}}
                                                  <span *ngIf = "property.required" class="asterik">*</span>
                                        </mat-label>

                                        <mat-select formControlName={{property.name}}>
                                                  <mat-option>Select</mat-option>
                                                  <mat-option *ngFor="let opt of property.values"
                                                              [value]="opt">{{opt}}
                                                  </mat-option>
                                        </mat-select>

                                        <mat-error *ngIf="formGroup.controls[property.name].invalid">{{getError(property)}}</mat-error>

                                 </mat-form-field>

                    </div>

                    <!--Form field for Measure Datatype  -->

                    <div class="row form-group" *ngIf="property.dataType=='Measure'" [formGroupName]="property.name" style="margin-bottom:0px;">

                          <div class="col-md-6">

                                   <mat-form-field appearance="outline">

                                           <mat-label>{{property.alias}}
                                                      <span *ngIf = "property.required" class="asterik">*</span>
                                           </mat-label>

                                           <input matInput formControlName="in"
                                                  placeholder={{property.alias}}
                                                  type="number"
                                                  (keyup)="enable(property)"
                                                  (focus)="enable(property)" >

                                   <mat-error *ngIf="formGroup.controls[property.name].invalid">{{getError(property)}}</mat-error>

                                   </mat-form-field>
                          </div>

                           <div class="col-md-6">

                                    <mat-form-field appearance="outline">

                                            <mat-label>Unit
                                                   <span *ngIf = "property.required" class="asterik">*</span>
                                            </mat-label>

                                            <mat-select formControlName="unit">
                                                   <mat-option>Select</mat-option>
                                                   <mat-option *ngFor="let opt of property.units" [value]="opt">
                                                   {{opt}}
                                                   </mat-option>
                                            </mat-select>

                                            <mat-error *ngIf="formGroup.controls[property.name].invalid">{{getEror(property)}}</mat-error>

                                    </mat-form-field>
                           </div>
                      </div>


              </ng-container>


              <div>

                     <p style="font-size:13px;"><span class="asterik" style="font-size:16px;">* </span>field are mandatory</p>

              </div>

              <div class="btn btn-toolbar">

                     <button type="submit" class="btn btn-primary" [disabled]="!this.formGroup.valid">Submit</button>
                &nbsp; &nbsp;
                     <button type="reset" class="btn btn-primary">Reset</button>

              </div>

       </form>

</div>

<!--
    <pre>
    formGroupForm?.value|json}}
    </pre> -->
